/* Style.css */

@import "reset";

html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
}

#title {
  background: url(../images/title.png) no-repeat;
  height:154px;
  margin:250px auto 0;
  width:337px;

  h1,h2,h3{
    overflow: hidden;
    text-indent: -9999em;
  }

  a{
    background: url(../images/sprite.png) no-repeat 0 0;
    display: block;
    height:30px;
    margin:0 auto;
    overflow: hidden;
    text-indent: -9999em;
    width:160px;
  }

  a#stay {
    background-position: 0 0;
    margin-top: 125px;

    &:hover {
      background-position: -160px 0;
    }
  }

  a#rsvp{
    background-position: 0 -30px;
    margin-top: 10px;

    &:hover{
      background-position: -160px -30px;
    }
  }
}
