/* Style.css */

@import "reset";

html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
}

div {
  background: rgba(76, 103, 87, .8);
  padding:10px;
  margin:350px auto 0;
  text-align: center;
  width:420px;
}

h1 {
  color:#fff;
  font:bold 24px "Helvetica",arial, sans-serif;
  margin:0;
}

a {
  color:#9fb7a0;
  font:normal 11px "Helvetica",arial, sans-serif;
  font-style: italic;
  text-decoration: none;
  &:hover {
    color:#b8d0b9;
  }
}

