/* Style.css */

@import "reset";
@font-face {
    font-family: 'CallunaRegular';
    src: url('../webfonts/Calluna-Regular-webfont.eot');
    src: url('../webfonts/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Calluna-Regular-webfont.woff') format('woff'),
         url('../webfonts/Calluna-Regular-webfont.ttf') format('truetype'),
         url('../webfonts/Calluna-Regular-webfont.svg#CallunaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
  marging:0;
  padding:0;

  img#hero {
    width:100%;
    height:auto;
    position:relative;
  }

  div#wrap {
    width:620px;
    margin:25px auto 50px;

    h1 {
      font: bold 36px NewsGothicBT-BoldCondensed, helvetica, arial, sans-serif;
      text-transform: uppercase;
      color:#333;
    }

    div#content {
      border-left:2px solid #eee;
      font:normal 18px/26px CallunaRegular, helvetica, arial, sans-serif;
      padding: 0 0 0 20px;

      p {
        margin:10px 0 0 10px;
        color:#333;
      }

      p#intro {
        margin:10px 0 0 0;
        font-size:22px;
        line-height: 30px;
      }

      h2 {
        font: bold 24px NewsGothicBT-BoldCondensed, helvetica, arial, sans-serif;
        text-transform: uppercase;
        color:#333;
        margin:20px 0;
      }

      em {
        color:#999;
        font-size:14px;
        line-height: 10px;
      }

      strong {
        color:#000;
        font-size:20px;
      }

      ul {
        margin:10px 0 0 10px;
      }

      ul#contact {
        margin:20px 0 20px 10px;
      }

      ul#directions {
        margin:30px 0 0 10px;
      }
    }
  }

  div#footer {
    height:50px;
    width: 100%;
    background-color: #22211d;

      a {
        background: url('../images/home.jpg') no-repeat 0px 0px;
        display: block;
        margin: 0 auto 0 ;
        width:50px;
        height:50px;

        &:hover {
          background-position: -50px 0;
        }
      }
  }
}
